.login-view {
  width: 100vw;
  height: 100vh;
  background: {
    repeat: no-repeat;
    position: bottom center;
    attachment: fixed;
    size: 100% auto;
  }
  .cntr {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 337px;
      height: 337px;
      margin-top: 110px;
      margin-bottom: 110px;
    }
    .eye {
      width: 80px!important;
    }
    .input {
      width: 550px;
      height: 92px;
      margin-left: 0;
      background-color: #F7F7F7;
      border-radius: 12px;
      padding-left: 16px;
      padding-right: 16px;
    }
    .button {
      width: 550px;
      height: 92px;
      box-sizing: border-box;
    }
  }
}
